<manifest
    package="com.want.base.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <!-- 友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5624974067e58eea7600281b"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="WANTWANT"/>

        <!-- 友盟自动更新-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- end -->

        <!-- CrashDialog Activity-->
        <activity
            android:name=".model.crash.CrashDialogActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SDKTheme.Dialog.Alert"/>
    </application>

</manifest>
