<manifest package="com.want.core.push"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.want.push.receiver.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.want.push.ACTION_REGISTRATION"/>
                <action android:name="com.want.push.ACTION_MESSAGE"/>
                <action android:name="com.want.push.ACTION_NOTIFICATION_RECEIVED"/>
                <action android:name="com.want.push.ACTION_NOTIFICATION_OPENED"/>
                <action android:name="com.want.push.ACTION_RICH_MESSAGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
