<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.want.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.want.sdk.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SDKTheme.NoActionBar">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56496b27e0f55a5403001fea"
            tools:replace="android:value"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DEMO"
            tools:replace="android:value"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f72b28fc9c03d051123d38f6993a4f88"
            tools:replace="android:value"/>

        <!-- Jpush-->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="c1b32ae0e67757db577eac60"
            tools:replace="android:value"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
