<manifest package="com.want.payment.wxpay"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application />

</manifest>
